{% extends 'base.html' %}
{% block title %}Hello world {% endblock title %}

{% block content %}

<main>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Succesfully Enrolled 🥳 🎉</h1>
        <p class="lead text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde sed recusandae quam delectus optio eligendi dolorum cupiditate illo, cum earum!</p>
    </div>
    </div>
</section>



</main>



{% endblock content %}